body, header, footer{
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

header, footer{
	background: #660000;
}

html, body{
    color: white;
    background: #800818;
}

nav{
	margin: 0 auto;
	max-width: 960px;
	padding: 5px 0;
	text-align: right;
	width: 80%;
}

nav img{
	float: left;
	padding: 10px 0;
}

nav ul{
	display: inline-block;
    list-style: none;
    padding: 10px 0;
	position: relative;
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: white;
	padding: 5px 15px; 
	text-decoration: none;
	-webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

nav ul li a:hover{
	background: #330000;
	border-radius: 3px;
	color: #ff6633;
}

section{
	margin: 0 auto;
	width: 80%;
}

#container{
	background: #660000;
	color: #ff6633;
	padding: 30px 0;
	text-align: left;
	height: 100px;
	width: 80%;
}

#container p{
	margin: 0 20px;
	display: inline-block;
	font-size: 14px;	
}

#buildings{
	height: 231px;
}