<ul class="main-navigation">
  <li><a href="{{ root_url }}/game-structure">Game Structure</a></li><p>Core Clases</p>
  <li><a href="{{ root_url }}/sprites">Sprites</a></li><p>Characters in Movement</p>
  <li><a href="{{ root_url }}/layers">Layers</a></li><p>Canvas &amp; Gameplay</p>
  <li><a href="{{ root_url }}/scenes">Scenes</a></li><p>Any Level from Easy to Hard</p>
  <li><a href="{{ root_url }}/director">Director</a></li><p>Handle the Game</p>
  <li><a href="{{ root_url }}/actions">Actions</a></li><p>Magic Tricks</p>
  <li><a href="{{ root_url }}/menus">Menus</a></li><p>Touch to Play</p>
  <li><a href="{{ root_url }}/physics">Physics</a></li><p>Apply Realism</p>
  <li><a href="{{ root_url }}/game-development">Video Games?</a></li><p id="subtitle">Game development resources</p>
</ul>
