body > footer {
  @extend .sans;
  font-size: 0.8em;
  font-family: $heading-font-family;
  color: $footer-color;
  width: 85%;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  padding-top: 0em;
  margin-top: 0em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
    text-decoration: none;
  }
  p:last-child { margin-bottom: 0; }

  #developers {
    width: 100%;
    margin: 0 auto;
    padding-top: 0em;
  }

  #developers img {
    height: 50px;
    width: 50px;
  }

  a > img {
    margin-left: 80px;
    height: 50px;
    width: 50px;
  }

  #name {
    margin-left: 52px;
    color: #58585a;
  }

  #twitter {
    margin-left: 66px;
  }

  #quote {
    position: relative;
    float: right;
    margin-top: 25px;
    text-align: right;
    width: 60%;
    font-size: 0.9em;
  }
}
