body > header {
  background: $header-bg image-url('bgTextureBackground.png') top left;
  padding: 0 0 0px 0;
  margin: 0 0 0px 0;
  border-bottom: dotted 1px #c7cace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  z-index: 1000;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
  #logo {
    margin: 25px 0 5px 70px;
  }
  #github {
    float: right;
    margin: 35px 35px 0 0;
    height: 60px;
    width: 60px;
  }
hgroup {
    height: 105px;
    margin: 0
  }
}
