body > nav {
  width: 20%;
  top: 160px;
  form {
    @include background-clip(padding-box);
    margin: 0; padding: 0;
    .search {
      padding: .3em .5em 0;
      font-size: .85em;
      font-family: $sans;
      line-height: 1.1em;
      width: 95%;
      @include border-radius(.5em);
      @include background-clip(padding-box);
      @include box-shadow(lighten($nav-bg, 2) 0 1px);
      background-color: lighten($nav-bg, 15);
      border: 1px solid $nav-border;
      color: #888;
      &:focus {
        color: #444;
        border-color: #80b1df;
        @include box-shadow(#80b1df 0 0 4px, #80b1df 0 0 3px inset);
        background-color: #fff;
        outline: none;
      }
    }
  }
  fieldset[role=search]{ float: right; width: 48%; }
  fieldset.mobile-nav{ float: left; width: 100%;
    select{ width: 100%; font-size: .8em; border: 1px solid #888;}
  }
  ul { display: none; }
  @media only screen {
    font-size: 1.5em;
    ul {
      list-style-type: none;
      float: left;
      display: block;
    }
    ul.subscription {
      margin-left: .8em;
      float: right;
      li:last-child a { padding-right: 0; }
    }
    ul li {
      margin: 0 0.7em;
    }
    a {
      @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
      font-family: $sans;
      text-shadow: lighten($nav-bg, 12) 0 1px;
      float: left;
      text-decoration: none;
      font-size: 0.8em;
      line-height: 0.5em;
      margin: .50em;
      width: 100%
    }
    p {
      font-family: $heading-font-family;
      color: nav-subtitle;
      font-size: 0.5em;
      margin: 1.0em;
      margin-left: 30px;
      width: 80%;
    }
    form {
      float: right;
      text-align: left;
      padding-left: .8em;
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium + 20px;
      .search {
        width: 93%;
        font-size: .95em;
        line-height: 1.2em;
      }
    }
    ul[data-subscription$=email] + form {
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 58px;
      .search { width: 91%; }
    }
    fieldset.mobile-nav { display: none; }
    fieldset[role=search]{ width: 99%; }
  }
}
.no-placeholder {
  body > nav .search {
    text-indent: 1.3em;
  }
}